---
# the connection string for the database
# more information can be obtained on the github page of the driver
# http://godoc.org/github.com/lib/pq
connection: user=zeroblog password=foobar sslmode=disable
