$settings = {
  :environment     => :development,
  :logging         => true,
  :method_override => true,
  :sass => {
    :style => :expanded
  }
}

DataMapper::Logger.new($stdout, :debug) if $settings[:logging]
case $settings[:environment]
  when :development then
    DataMapper.setup(
      :default, 'postgres://<user>:<passphrase>@localhost/<database>'
    )
end

RedclothCoderay.coderay_options :css => :class
