!!! 5
%html
  %head
    %title="zero-knowledge - Adminpanel"
    %link{:rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css'}
    %script{:src => 'public/head.min.js'}
  %body
    #menu="Menue"
    #content="Bereich oder so"
    %script
      ="head.js('http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js','/public/admin.js')"
