!!! 5
%html
  %head
    %title="zero-knowledge - Adminpanel"
    %link{:rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/admin/stylesheet.css', :type => 'text/css'}
    %script{:src => '/public/head.min.js'}
  %body
    #menu="Menue"
    #messages
      -unless flash.error.nil?
        %p.error=flash.error
      -unless flash.warning.nil?
        %p.warning=flash.warning
      -unless flash.notice.nil?
        %p.notice=flash.notice
    #content=yield
    %script
      ="head.js('http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js','/public/admin.js')"
