!!! 5
%html
  %head
    %title="zero-knowledge - Adminpanel"
    %link{:rel => 'stylesheet', :href => '/admin/stylesheet.css', :type => 'text/css'}
    %script{:src => '/public/head.min.js'}
  %body
    #menu
      %ul
        %li
          %a{:href => '/'}="main"
        %li
          %a{:href => '/admin'}="admin"
        -if @account
          %li
            %a{:href => '/admin/post/new'}="create"
          %li
            %a{:href => '/admin/tag'}="tags"
    #messages
      -unless flash.error.nil?
        %p.error=flash.error
      -unless flash.warning.nil?
        %p.warning=flash.warning
      -unless flash.notice.nil?
        %p.notice=flash.notice
    #content=yield
    :javascript
      head.js(
        'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js',
        '/public/admin.js'
      )
