%a{:href => '/admin/logout'}="Logout"
%h1="Index"
#create
  -@post = Post.new
  =haml :admin_post_create, :layout => nil
%hr
#posts
  %a{:href => '/admin/post'}="Posts"
  -@posts=Post.all(:order => [:id.desc])
  =haml :admin_posts, :layout => nil
