%p="==> #{@path}"
%h1="Login"
%form{:action => '/admin/login', :method => 'post'}
  .username
    %label.block{:for => 'username'}='Username'
    %input.block{:name => 'username', :placeholder => 'username', :value => flash[:username]}
  .password
    %label.block{:for => 'password'}='Password'
    %input.block{:name => 'password', :placeholder => 'password', :type => :password}
  .submit
    %button{:type => 'submit'}="Login"
    %button{:type => 'submit', :formmethod => :post, :formaction => '/'}="Back"
