!!! 5
%html
  %head
    %title="zero-knowledge - scripte, programmieren und administrtieren"
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{:rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css'}
    %script{:src => '/public/javascript/head.min.js'}
    %link{:rel => 'alternate', :type => 'application/atom+xml', :href => '/atom.xml', :title => 'Atom 1.0'}
  %body
    #wrapper
      %header#header
        %h1
          %a{:href =>"/"}
            %img{:src => "/public/images/zero-knowledge.png", :alt => "zero-knowledge"}
          %img{:style => "float:right", :src => "/public/images/blub.png", :alt => "Logo"}
      #content
        =yield
      %footer#footer
        %p="Design and Content &#169; 2011 by Gibheer and Stormwind"
      :javascript
        head.js(
          'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js',
          '/public/app.js'
        )
