!!! 5
%html
  %head
    %title="zero-knowledge"
    %link{:rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css'}
    %script{:src => 'public/head.min.js'}
  %body
    %header#header
      %h1="zero-knowledge.org"
    #content
      %p.hint
        %a{:href => '/admin'}='Adminpanel'
      =yield
    %footer#footer="ein footer"
    :javascript
      head.js(
        'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js',
        '/public/app.js'
      )
