// normal text color
$normal_color: black;
// the nice orange
$action_color: hsl(32, 100%, 50%);
// the blue
$alternate_color: hsl(204, 35%, 35%);

// standard size to size everything from that
$standard-width: 1em;

html {
  font-size: 99%;
  font-family: sans-serif;
  /* original picture from http://subtlepatterns.com/iron-grip/ */
  background-image: url('/images/irongrip-zero.png');
  min-width: 300px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

code {
  font-family: "PT mono", monospace;
}
pre {
  border: $standard-width solid hsla(0, 0%, 0%, 0);
  overflow-x: auto;
}

header h1, header h2 {
  display: inline-block;
  margin: $standard-width / 2;
  padding: 0;
}

a {
  text-decoration: none;
  color: $action-color;
}

.page {
  display: block;
  margin-top: $standard-width / 2;
  margin-bottom: $standard-width / 2;
  text-align: center;
  color: lighten($action-color, 10);
  padding: $standard-width;
  font-size: $standard-width * 0.9;
  font-weight: bold;
}
article, pre, .page {
  background-color: fade-out($alternate-color, 0.7);
}
article {
  color: hsl(0, 0%, 90%);
  padding: $standard-width;
  header {
    padding: $standard-width / 4;
    display: inline-block;
    h1 { margin: 0; }
  }
  footer {
    padding: $standard-width / 4;
    display: inline-block;
    font-size: $standard-width * 0.9;
    div {
      display: inline-block;
      margin: $standard-width / 5;
      font-weight: bold;
      color: hsl(0, 0%, 60%);
    }
    .author:before { content: 'by '; }
    .date:before { content: ' on '; }
    .time { display: none; }
  }
  section {
    border-top: $standard-width/5 solid $alternate-color;
    word-wrap: break-word;
  }
}
